body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  padding: 0%;
}

.card-header{
  background-image: linear-gradient(to right, #2C3E50 0%, #FD746C 51%, #2C3E50 100%)
}
.card-footer{
  background-image: linear-gradient(to right, #808080 0%, #3fada8 51%, #808080 100%)
}

.btn {
  border-color: grey;
  color: black;
  color-adjust: grey;
}

.btn:active{
  background-color:grey;
}

.btn:hover{
  cursor: pointer;
  background-color:grey;
}

.btn:focus{
  outline:0;
  background-color:grey;
}

.btn-outline-primary:active {
  background-color: grey;
  color: grey;
  color-adjust: grey;
}

.fas {
  color: black;
}

.footer{
  width: auto;
  height: auto;
}

